<!DOCTYPE html>
<html>
<head>
<title>Back in Time</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../static/css/main.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="icon" type="image/png" sizes="32x32" href="../static/images/favicon-32x32.png">
<style>
body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
</style>
</head>
<body class="w3-light-grey">

<!-- w3-content defines a container for fixed size centered content,
and is wrapped around the whole page content, except for the footer in this example -->
<div class="w3-content" style="max-width:1400px">

<!-- Header -->
<header class="w3-container w3-center w3-padding-32">
  <img src="../static/images/deezer.png" alt="Deezer" style="width:8%">
  <img src="../static/images/space.png" alt="Space" style="width:8%">
  <img src="../static/images/back_in_time.png" alt="Back In Time" style="width:10%">
  <br>
  <br>
  <h2><b>Select the date to go Back in Time:</b></h2>
    <br>
    <form action="http://127.0.0.1:5000/progress">
        <input type="date" name="playlist_date" required pattern="\d{4}-\d{2}-\d{2}"/>
        <span class="validity"></span>
    <br>
    <br>
  <p><button>Go Back In Time</button></p>
</form>
</header>

<!-- END w3-content -->
</div>

</body>
</html>
